



body{
    padding-top: 5vh;
    background-image: url(../img/imagem-login.jpg);
    background-size: cover;
    background-position-y: -150px;

}

div{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color:#fff ;
    border-radius: 10px;
    padding: 25px;
    
}


input{
    width: 50%;
    padding: 15px;
    
    outline: none;
    border-radius: 20px;
    
    
    
    
}
input:focus{
    border-color: #1db954;
}






a{
    text-decoration: none;
    color: #1db954;
    transition: all 300ms ease;
}

a:hover{
    cursor: pointer;
}

h1{
    text-align: center;
}

button{
    background: #1db954;
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300ms ease;
}

button:hover{
    cursor: pointer;
}