* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a{
    text-decoration: none;
    color: white;
    transition: all 300ms ease;
}

a:hover{
    color: #1db954;
    cursor: pointer;
}

/*UTILITY CLASSES*/

.btn-primary{
    background: #1db954;
    color: white;
    text-transform: uppercase;
    padding: 15px 60px;
    border: none;
    border-radius: 30px;
    letter-spacing: 1px;
    font-weight: bold;
    transition: all 300ms ease;
}

.btn-primary:hover{
    cursor: pointer;
}

.logo {
    height: 40px;
    width: auto;
}

/*NAVBAR*/
#navbar {
    display: flex;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100%;
}

#navbar .navbar-container {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;

}

#navbar .navbar-container .logo {
    height: 40px;
    width: auto;
}

#navbar .navbar-container ul {
    display: flex;
    list-style: none;
    font-weight: bold;
}

#navbar .navbar-container ul li{
    padding: 0 20px;
    transition: all 300ms ease;

}

#navbar .navbar-container ul li:hover{
    color: #1db954;
    cursor: pointer;
}

#navbar .navbar-container ul li:nth-child(3){
    border-right: 1px solid white;
}

/*SHOWCASE*/

#showcase{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background: url("../img/imagem1.jpg") center center/cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: color;
}
#showcase .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#showcase .showcase-container h2{
    font-size: 3rem;
}

#showcase .showcase-container p{
    margin: 15px 0;
    font-size: 1.1rem;
}
/*FOOTER*/

#footer{
    background: black;
    color: white;
    padding: 80px 0;

}

#footer .footer-content{
    display:flex;
    width: 60%;
    margin: auto;
    justify-content: space-between;
    
}

#footer .footer-content .footer-menu{
    margin: 0 60px;
    list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item{
    margin: 25px 0;
    transition: all 300ms ease;
}

#footer .footer-content .footer-menu .footer-menu-item:hover{
    color: #1db954;
    cursor: pointer;
}

#footer .footer-content .footer-menu p{
    font-weight: bold;
    color: #919496;
    text-transform: uppercase;
    font-size: 0.8rem;
}
/*FOOTER SOCIALS*/
.socials{
    display: flex;
   
    
}

.socials i{
    margin: 0 20px;
    font-size: 1.7rem;
    transition: all 300ms ease;
    
}

.socials i:hover{
    color: #1db954;
    cursor: pointer;
}

/*FOOTER INFO*/
.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 60%;
    margin: auto;
    padding-top: 30px;
}

.footer-info .footer-info-items{
    display: flex;
    list-style: none;
    transition: all 300ms ease;
}

.footer-info .footer-info-items .footer-info-item{
    margin: 0 10px;
    font-weight: bold;
    color: #919496;
    font-size: 0.75rem;
    transition: all 300ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover{
    color: #1db954;
    cursor: pointer;
}



